# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
env/

# Jupyter notebooks
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Windows system files
Thumbs.db
Desktop.ini

# Temporary / test files
testing.ipynb
